$primary: #3d3d3c;
$bg: #50514f;
$secondary: #ff9900;
$accent: #ffb84d;
$error: #f44336;
$warning: #ffc107;
$info: #03a9f4;
$success: #8bc34a;
$light-grey: #d9d9d8;

// media

$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1200px)";
