@import "./_variables";

[v-cloak] {
  display: none;
}

a {
  text-decoration: none;
}

.v-application ul {
  padding-left: 0;
  list-style: none;
}

.app-headline {
  color: $secondary;
  font-size: 25px;
  user-select: none;
}

.error-message {
  color: $error;
  font-size: 12px;
}

.columns {
  column-count: auto;
 column-fill: auto;
 width: 300px;
 height: 300px;
}

.app {
  .v-main__wrap {
    background-color: $bg;
  }
  .link {
    color: $accent;
    text-decoration: underline;
  }
  .v-toolbar__content {
    padding-left: 0;
    padding-right: 0;
  }

  .label_text {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }

  .app-container {
    color: #fff;
    max-width: $app-max-width;
    padding: 10px;
    @media #{$tablet} {
      padding: 40px 10px;
    }
  }
  .v-dialog .v-sheet {
    background-color: $light-grey;
  }
  .v-btn.secondary .v-btn__content {
    color: $primary;
  }
  .v-data-footer__pagination {
    margin: 0;
    @media #{$tablet} {
      margin: 0 20px;
    }
  }
  .v-input--radio-group--column .v-input--radio-group__input > .v-label {
    margin-bottom: 8px;
  }

  .submit-btn {
    max-width: 250px;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    padding: 8px 0;
    margin: 8px auto;
  }

  .theme--dark.v-card.auth-card {
    width: 400px;
    background-color: $primary;
    padding: 16px;
    margin: 40px auto;
    border: none;
  }

  .row_between {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .row_center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  .theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined).submit-btn,
  .theme--dark.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined).submit-btn {
    background-color: $secondary;
  }

  .v-input--selection-controls.v-input {
    display: inline-flex;
  }

  .button-text {
    text-transform: uppercase;
    font-size: 12px;
    color: $secondary;
  }
}

.header-title {
  user-select: none;
  color: $secondary;
  font-size: 22px;
  font-weight: 600;
  text-shadow: 2px -2px 0px #000;
}

// animations

.slide-enter-active,
.slide-leave-active {
  transition: opacity 0.3s;
}
.slide-enter,
.slide-leave-to {
  opacity: 0;
  will-change: opacity;
}

.fade-down-enter-active,
.fade-down-leave-active {
  transition-property: transform, opacity;
  transition-duration: 1s;
  transition-timing-function: ease;
}
.fade-down-enter,
.fade-down-leave-to {
  opacity: 0;
  will-change: transform, opacity;
  transform: translateY(-30px);
}

// firebase UI

.firebaseui-card-content {
  padding: 0;
}

.firebaseui-idp-button,
.firebaseui-tenant-button {
  max-width: 250px;
}

.firebaseui-idp-text.firebaseui-idp-text-long {
  display: none;
}

.firebaseui-idp-text.firebaseui-idp-text-short {
  display: table-cell;
}
