/client/.DS_Store
/*/node_modules
node_modules
package-lock.json
/*/yarn.lock
yarn.lock

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
